@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,700);

:root {
	--text-color-primary: #F4F4F4;
	--text-color-secondary: #132429;
	--accent-color-primary: #12B0B9;
	--accent-color-secondary: #F4F4F4;
	--popup-background-color: rgba(0, 0, 0, 0.6);
}

body,
html {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: var(--text-color-primary);
}

.wrapper {
	min-height: 100vh;
	min-height: 100dvh;
	max-width: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;

	position: relative;
}

.wrapper__content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	z-index: 10;

	padding-bottom: 60px;
}

.wrapper__content .main {
	flex: 1 1 auto;
}

.wrapper>picture img {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
}

[class*="__container"] {
	max-width: 1710px;
	padding: 0 15px;
	margin: 0 auto;
}

h1 {
	/* diapason: 36-64px */
	font-size: clamp(2.25rem, calc(1.85rem + 1.79vw), 4rem);
}

h2 {
	/* diapason: 24-48px */
	font-size: clamp(1.5rem, calc(1.15rem + 1.54vw), 3rem);
	line-height: 135%;
}

h3 {
	/* diapason: 20-40px */
	font-size: clamp(1.25rem, calc(0.96rem + 1.28vw), 2.5rem);
	line-height: 135%;
}

p {
	/* diapason: 14-16px */
	font-size: clamp(0.88rem, calc(0.85rem + 0.13vw), 1rem);
	line-height: 1.5;
}

p.highlighted {
	/* diapason: 16-20px */
	font-size: clamp(1rem, calc(0.94rem + 0.26vw), 1.25rem);
	font-weight: 600;
	line-height: 135%;
}

ul li,
ol li {
	/* diapason: 14-24px */
	font-size: clamp(0.88rem, calc(0.73rem + 0.64vw), 1.5rem);
	line-height: 1.4;
}