.popup {
	position: fixed;
	top: 0;
	left: 0;

	height: 100vh;
	height: 100dvh;
	width: 100%;
	background-color: var(--popup-background-color);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup__body {
	text-align: center;
	padding: 15px;
}

/* Choise Popup */
.choise-popup>*:not(:first-child) {
	margin-top: clamp(24px, calc(11.9px + 0.71vw), 35px);
}

.choise-popup__gift-box {
	width: clamp(122px, calc(30.9px + 10.9vw), 292px);
}

/* Error popup */
.error-popup {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

/* Congrats popup */
.congrats-popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: clamp(16px, calc(12.8px + 0.9vw), 30px);
}

.congrats-popup h3,
.congrats-popup button {
	margin-top: clamp(5px, calc(1.6px + 0.96vw), 20px);
}